
<div class="mx-auto" style="width: 1480px;">
  <div class="row">
    <div class="col-6">
        <div id="full-calendar">

        </div>
      
    </div>
    <div class="col-6">
      <div >
          <a class="nav-link" routerLink="/cirugias" tabindex="-1" aria-disabled="true">
            <button class="btn btn-info btn-block">Nueva Cirugía</button>
          </a>
        
        <br>
      </div>
      <table class = "table table-bordered table-striped">
        <thead class = "thead-dark">
          <tr >
            <th scope="col" class="text-center">Paciente</th>
            <th scope="col" class="text-center">Fecha de Cirugía</th>
            <th scope="col" class="text-center">Fecha de Cirugía</th>
            <th scope="col" class="text-center">Acción</th>
          </tr>
        </thead>
    
        <tbody>
           <tr *ngFor="let valors of">
            <td class="text-center">{{valors.id_paciente}}</td>
            <th class="text-center">{{valors.fechaIngreso}}</th>
            <th class="text-center">{{valors.fechaSalida}}</th>
            <td class="text-center"><a class="btn btn-info btn-sm" routerLink="/cirugias/{{valors.id_paciente}}">Ver-Editar</a></td>
           </tr>
        </tbody>
    
      </table>
    </div>
  </div>


  
</div>

  
